<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byeduck.shoppinglistnotificationprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingListNotificationProvider">

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".ModificationEventReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.byeduck.shoppinglist.permissions.SEND_RECEIVE_NOTI">
            <intent-filter android:priority="999">
                <action android:name="com.byeduck.shoppinglist.NOTI" />
            </intent-filter>
        </receiver>
    </application>

</manifest>